/Lista 2/Exercicio2/JavaApplication5/nbproject/private/
/Lista 2/Exercicio2/Exercicio2/nbproject/private/
/Lista 2/Exercicio2/Exercicio2/build/
/Lista 2/Exercicio2/Exercicio2/dist/
/Lista 2/ex3/build/
/Lista 2/ex3/dist/
/Lista 3/ex1/nbproject/private/
/Lista 3/ex1/build/
/Lista 3/ex1/dist/
