/Lista 2/Exercicio2/JavaApplication5/nbproject/private/
/Lista 2/Exercicio2/Exercicio2/nbproject/private/
/Lista 2/Exercicio2/Exercicio2/build/
/Lista 2/Exercicio2/Exercicio2/dist/
/Lista 2/ex3/build/
/Lista 2/ex3/dist/
/Lista 3/ex1/nbproject/private/
/Lista 3/ex1/build/
/Lista 3/ex1/dist/
/Lista 5/ex3/nbproject/private/
/Lista 5/ex3/build/
/Lista 5/ex3/dist/
/Lista 7/ex2/nbproject/private/
/Lista 7/ex2/build/
/Lista 7/ex2/dist/
/Lista 7/ex1/nbproject/private/
/Lista 7/ex1/build/
/Lista 7/ex1/dist/
/Lista 7/ex3/nbproject/private/
/Lista 7/exemplo18-arvore-aula/build/
/Lista 7/exemplo18-arvore-aula/dist/
/Lista 7/exemplo18-arvore-aula/nbproject/private/
/Lista 7/ex3/dist/
/Lista 7/ex3/build/
/Lista 8/ex1/nbproject/private/
/Lista 8/ex1/dist/
/Lista 8/ex1/build/
